{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/animation.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('build/fonts/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('build/icons/style.css') }}">
{% endblock %}

{% block body %}
    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <div class="sign-in-wrap">
                <div class="sign-in-box">
                    <div class="left">
                        <div class="content">
                            <h3 class="heading">Hello there!</h3>
                            <div class="sub f12-regular text-GrayDark">Welcome to InvestiTrack</div>
                            <div class="sign-in-inner">
                                <h4>Sign In Here</h4>

                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                               <form method="post" action="{{ path('app_login_check') }}" class="form-login flex flex-column gap24">
                                    <fieldset class="email">
                                        <div class="f14-regular mb-6">Email here</div>
                                        <input type="email"
                                               value="{{ last_username }}"
                                               name="_username"
                                               class="flex-grow"
                                               placeholder="Enter your email address"
                                               autocomplete="email"
                                               required
                                               autofocus>
                                    </fieldset>

                                    <fieldset class="password">
                                        <div class="f14-regular mb-6">Password here</div>
                                        <input type="password"
                                               name="_password"
                                               class="password-input"
                                               placeholder="Enter your password"
                                               autocomplete="current-password"
                                               required>
                                        <span class="show-pass">
                                            <i class="icon-view view"></i>
                                            <i class="icon-hide hide"></i>
                                        </span>
                                    </fieldset>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <div class="tf-cart-checkbox">
                                        <div class="tf-checkbox-wrapp">
                                            <input type="checkbox" name="_remember_me" class="checkbox-item" id="remember_me">
                                            <div>
                                                <i class="icon-check"></i>
                                            </div>
                                        </div>
                                        <label for="remember_me" class="f14-regular">
                                            Remember me
                                        </label>
                                    </div>

                                    <button class="tf-button style-1 label-01 w-100" type="submit">
                                        Sign In
                                    </button>
                                </form>
                                <div class="f14-regular">
                                    Don't have an account?
                                    <a href="{{ path('app_register') }}" class="f14-bold">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/jquery.min.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('build/js/main.js') }}"></script>

    <script>
        // Toggle password visibility
        document.querySelectorAll('.show-pass').forEach(function(button) {
            button.addEventListener('click', function() {
                const input = this.closest('fieldset').querySelector('input');
                const isPassword = input.type === 'password';
                input.type = isPassword ? 'text' : 'password';
                this.querySelector('.view').style.display = isPassword ? 'none' : 'block';
                this.querySelector('.hide').style.display = isPassword ? 'block' : 'none';
            });
        });
    </script>
{% endblock %}